:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #189A46;
    --secondary: #f53626;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* RESET CSS  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Jost', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    color: #000c04;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin: 0;
}


h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    color: var(--secondary);
    margin: 0;
}

p {
    font-size: 1.2em;
    margin: 0;
    line-height: 28px;
    color: #696969;

}



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 5147px) {
    .container {
        width: 100%;
        padding: 0 30px 0 30px;
        margin: 0 auto 0 auto;
    }
}

@media (min-width: 1478px) {
    .container {
        width: 100%;
        padding: 0 25px 0 25px;
        margin: 0 auto 0 auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}



.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1200px;
    }
}

/* Header  */
#header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    height: auto;
    width: 100%;
    padding: 15px 0;
    transition: all 0.4s ease 0s;
}

#header+section {
    margin-top: 80px;
}

#header.header__fixed {
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: auto;
    background-color: #fff;
}


/* https://css.gg/sun  */
.gg-sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 24px;
    height: 24px;
    background:
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent
}

.gg-sun::after,
.gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
}

.gg-sun::before {
    transform: rotate(-45deg)
}

.gg-sun::after {
    transform: rotate(45deg)
}

/* https://css.gg/moon  */
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}

.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}

.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

/* Navbar  */

/* Brand  */
#header nav .navbar-brand {
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189A46;
    padding: 0;
    margin: 0;
    line-height: 1.2;
}

/* <=== Brand  */

/* Navbar Toggle  */
#header .navbar button.navbar-toggler {
    font-size: 22px;
    padding: 0;
}

#header .navbar button.navbar-toggler span {
    color: #fff;
    background-color: #189A46;
    border-radius: 5px;
    display: inline-block;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

#header .navbar button[aria-expanded=false] i:nth-of-type(1),
#header .navbar button[aria-expanded=true] i:nth-of-type(2) {
    display: inherit;
}

#header .navbar button[aria-expanded=true] i:nth-of-type(1),
#header .navbar button[aria-expanded=false] i:nth-of-type(2) {
    display: none;
}

/* <== Navbar Toggle  */

/* Dark and Light  */
.header__darklight {
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    top: 13px;
}

.header__darklight label {
    width: 60px;
    margin: 0;
}

.header__darklight label div {
    height: 24px;
    width: 24px;
    padding: 3px 0;
    margin-left: 20px;
}

.header__darklight .gg-sun,
.header__darklight input[type=checkbox] {
    display: none;
}

.header__darklight input[type=checkbox]:checked+div>.gg-sun {
    display: inherit;
}

.header__darklight input[type=checkbox]:checked+div>.gg-moon {
    display: none;
}

/* <=== Dark and Light */

/* Search Box  */
#searchBox {
    padding: 0;
}

#searchBox .modal-body {
    padding: 15px;
    width: 100%;
    max-width: 600px;
    position: relative;
}

#searchBox .modal-dialog {
    width: 100%;
    min-width: 100%;
    margin: 0;
}

#searchBox button.close {
    position: absolute;
    right: 20px;
    top: -50px;
    color: #fff;
    opacity: 0.7;
    font-size: 30px;
}

.modal-content {
    background: transparent;
    border: none;
    align-items: center;
}

#searchBox form input[type=search] {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    height: 45px;
    outline: none;
    border: 1px solid #d6d6d6;
    border-radius: 6px 3px 3px 6px;
    border-right: none;
    margin: 0 !important;
    flex: 1 1 auto;
}

#searchBox .form-inline {
    align-items: inherit;
}

#searchBox .form-control {
    width: auto;
}

#searchBox form button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #F5F9FC;
    font-weight: 500;
    border: none;
    background: #189A46;
    border-radius: 0 6px 6px 0;
}

.modal-backdrop {
    background: #000000ba;
    width: 100%;
    height: 100%;
}

.modal-backdrop.show {
    opacity: 1;
}

#header .header__search {
    text-align: left;
}

#header .header__search>a {
    font-size: 14px;
    background: rgba(147, 107, 232, 0.05);
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    padding: 0;
    text-align: center;
    color: #189A46;
    display: inline-block;
}

#header .header__search>a:hover {
    background-color: #189A46;
    color: #fff;
}

/* <== Search Box  */

/* Navigation Menu  */
#header .navbar {
    padding: 0;
    font-size: 1rem;
    text-align: center;
}

#header .navbar-nav {
    padding: 20px 0;
}

#header .navbar-nav .nav-item {
    padding: 0;
}

#header .navbar-nav .dropdown {
    padding-right: 2px;
}

#header .navbar-nav .nav-link {
    text-transform: capitalize;
    padding: 6px 0;
    font-size: 1.2em;
    font-family: 400;
    color: #000;
    position: relative;
    transition: all 0.5s ease;
}

#header .dropdown-menu {
    border-radius: 10px;
    min-width: 13rem;
    padding: 1rem 0 0.3rem;
    transform: translateX(0);
}

#header .dropdown-menu::before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    border-right: none;
    display: block;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%) rotateZ(45deg);
}

#header .dropdown-item {
    padding: 0 1.5rem 14px 1.5rem;
    text-align: center;
}

#header .dropdown-item a {
    position: relative;
    font-size: 1.2em;
    font-family: 400;
    color: #000;
    text-decoration: none;
}

#header .dropdown-item:hover {
    background-color: transparent;
}

#header .navbar-nav .dropdown-toggle:after {
    color: #999;
    content: "\f107";
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    border: none;
    margin: 0;
    vertical-align: inherit;
    font-size: 14px;
    font-weight: 600;
}

#header .navbar-nav .nav-link:hover,
#header .navbar-nav .dropdown-item:hover a {
    color: #189A46;
}

#header .navbar-nav .active>a {
    color: #189A46;
}


.navbar-toggler{
    border-color: transparent !important;
}

/* Kết thúc Navigation Menu  */

@media (min-width: 576px) {
    #searchBox form input[type=search] {
        height: 55px;
        padding: 15px 20px 12px;
    }

    #searchBox form button {
        padding: 0 25px;
    }
}

@media (min-width: 992px) {


    /* Header  */
    #header {
        height: 90px;
        padding: 0;
    }

    #header.header__fixed {
        height: 80px;
    }

    #header+section {
        margin-top: 90px;
    }

    .header__darklight {
        position: inherit;
        top: 0;
        left: 0;
    }

    #header .navbar-nav {
        padding: 0;
    }

    #header a.nav-link::before {
        content: '';
        position: absolute;
        background-color: #189A46;
        height: 1px;
        bottom: 13px;
        width: 0;
        transition: all 0.5s;
    }

    #header .dropdown-item a::before {
        content: '';
        position: absolute;
        background-color: #189A46;
        height: 1px;
        bottom: 0;
        width: 0;
        transition: all 0.5s;
    }

    #header a.nav-link:hover::before,
    #header .dropdown-item a:hover::before {
        width: 100%;
    }

    #header .dropdown-menu {
        transform: translateX(-25%);
    }

    #header .dropdown-item {
        text-align: inherit;
    }

    #header .navbar-nav .nav-link {
        padding: 14px 0;
    }

    #header .navbar-nav .nav-item {
        padding: 0 12px;
    }
}


/* BREADCRUMB  */
.breadcrumb {
    background-image: url(../images/banner4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    align-items: center;
    padding: 1em 0;
    text-align: center;
}

.breadcrumb::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: 0.6;
}

.breadcrumb__content h1 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.breadcrumb__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}

.breadcrumb__item a {
    color: #189A46;
}





.sub-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.h-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189a46;
    color: black;
    transition: .3s ease-in-out;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;

}

a.read:hover {
    color: #189a46;
}

.about__left h4 {
    font-size: 22px;
    line-height: 32px;
    opacity: .9;
    color: #000c04;
    font-weight: 600;
}

/* OUR HISTORY */
.history__feature {
    background-image: url(../images/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
}

.history__feature::before {
    content: "";
    background-color: rgba(0, 4, 8, 0.69);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.history__content {
    margin-left: auto;
    max-width: 640px;
    text-align: left;
}

.history__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
}

.history__text p {
    color: #fff;
    opacity: .7;
}

.history__text .h-title {
    color: #fff;
}

.history__grid h5.year {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}


/* Why Choose Us  */

/* Style Title */
.title {
    font-size: 1rem;
}

.title h5 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.title h2 {
    font-size: 27px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
}

.why__right {
    margin-top: 50px;
}

.why__left .title h2 {
    margin-bottom: 0;
}

.why__left p {
    margin-bottom: 0;
}

.why__left img{
    border-radius: 10px;
}

.why__icon {
    text-align: center;
    margin-bottom: 14px;
}

.why__icon i {
    font-size: 44px;
    text-align: center;
    color: #189A46;
    margin-top: 4px;
}

.why__detail {
    text-align: center;
}

.why__card h6 {
    margin-bottom: 6px;
}

.why__card h6 a {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #000c04;
}

.why__card p {
    margin-bottom: 0;
}

/* Responsive cho why choose us của Truyền  */
@media (min-width: 378px) {
    .title h2 {
        font-size: 32px;
        line-height: 38px;
    }
}

@media (min-width: 601px) {
    .title h2 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media (min-width: 737px) {
    .why__detail {
        text-align: inherit;
    }
}

@media (min-width: 768px) {

    .why__icon {
        margin-bottom: 0;
    }

    .why__detail {
        padding-left: 0;
    }
}

@media (min-width: 992px) {

    /* Why Choose  */
    .why__right {
        margin-top: 0;
    }
}

@media (min-width: 1081px) {
    .title h2 {
        font-size: 40px;
        line-height: 48px;
    }
}
/* OUR TEAM */
.team__info a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.team__our {
    background-color: rgba(147, 107, 232, 0.05);
}

.team__item {
    margin-bottom: 44px;
}

.team__top {
    overflow: hidden;
    position: relative;
}

.team__top a {
    transition: all .5s;
}

.team__info:hover img {
    transform: scale(1.1);
    transition: transform .3s linear;
}

.team__top img {
    transition: all .4s;
    border-radius: 10px;
}

/* .team__top img:hover{
    transform: scale(1.1);
    transition: transform .3s linear;
} */
.team__info:hover a {
    color: #189a46;
}

.team__bot {
    margin-top: 16px;
}

.team__bot p {
    font-size: 16px;
    line-height: 25px;
    color: #696969;
}

.team__bot a {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    color: black;
    transition: all .5s;
}

/* .team__bot a:hover{
   color: #189a46;
} */

.team__icon {
    margin-top: 16px;
}

.team__icon a {
    display: inline-block;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    background: #936be70d;
    color: #189a46;
}

.team__icon span {
    font-size: 12px;
    line-height: 30px;
    display: block;
}

.team__icon a:hover {
    background: #189a46;
    color: #fff;
    transition: 0.3s ease;
}


/* Footer  */
.footer {
    background-color: #111;
}

.footer__title {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer ul {
    margin: 0 0;
}

.footer li,
.footer li a {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
    color: #696969;
    line-height: 28px;
    transition: 0.5s all;
}

.footer li a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer .footer__icons li {
    display: inline-block;
    margin: 0 15px 0 0;
}

.copyright p {
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    color: #696969;
    margin-bottom: 0;
}

.copyright p a {
    color: #f53626;
    opacity: 0.9;
}

/* <== Footer  */

/* no scrollbar  */
/* body::-webkit-scrollbar {
    display: none;
} */



/* Back To Top  */
.backtotop {
    display: block;
    position: fixed;
    right: 15px;
    bottom: 60px;
    font-size: 18px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #189A46;
    border-radius: 50px;
    color: white;
    transition: all .2s;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    transition: 0.3s ease-out;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.backtotop:hover {
    color: #fff;
    transform: translateY(-5px);
}

/* <== Back To Top  */




/* Fix responsive  */
@media (max-width: 1080px) {
    .h-title {
        font-size: 35px !important;
        line-height: 40px;
    }
}

@media (max-width:667px) {
    .history__item {
        margin: 0 auto;
        max-width: 900px;
        text-align: left;
    }

    .history__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 40px;
    }
}
@media (max-width:640px){
    .breadcrumb h1{
        font-size: 34px;
    }
}

@media (max-width: 600px) {
    .h-title {
        font-size: 32px !important;
        line-height: 38px;
    }
}

@media (max-width: 378px) {
    .h-title {
        font-size: 27px !important;
        line-height: 32px;
    }
}