* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,
button,
input,
textarea {
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #000c04;
    text-decoration: none;
}

a.url {
    color: #000c04;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

p {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

ul,
li {
    list-style: none;
}

html,
body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

img {
    border-radius: 10px;
}

/* Container Page*/
.container {
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 0 auto 0 auto;
}

/* Phần Header  */
#header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    height: auto;
    width: 100%;
    padding: 15px 0;
    transition: all 0.4s ease 0s;
}

#header+section {
    margin-top: 80px;
}

#header.header__fixed {
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: auto;
    background-color: #fff;
}

/* Navbar  */

/* Phần Brand  */
#header nav .navbar-brand {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189A46;
    padding: 0;
    margin: 0;
    line-height: 1.2;
}

/* <== Kết thúc Brand  */

/* Phần Navbar Toggle  */
#header .navbar button.navbar-toggler {
    font-size: 22px;
    padding: 0;
}

#header .navbar button.navbar-toggler span {
    color: #fff;
    background-color: #189A46;
    border-radius: 5px;
    display: inline-block;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

#header .navbar button[aria-expanded=false] i:nth-of-type(1),
#header .navbar button[aria-expanded=true] i:nth-of-type(2) {
    display: inherit;
}

#header .navbar button[aria-expanded=true] i:nth-of-type(1),
#header .navbar button[aria-expanded=false] i:nth-of-type(2) {
    display: none;
}

/* <== Kết thúc Navbar Toggle  */

/* Dark and Light  */
/* https://css.gg/sun  */
.gg-sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 24px;
    height: 24px;
    background:
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px,
        linear-gradient(to bottom,
            currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent
}

.gg-sun::after,
.gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
}

.gg-sun::before {
    transform: rotate(-45deg)
}

.gg-sun::after {
    transform: rotate(45deg)
}

/* https://css.gg/moon  */
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}

.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}

.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

.header__darklight {
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    /* top: 13px; */
}

.header__darklight label {
    width: 60px;
    margin: 0;
}

.header__darklight label div {
    height: 24px;
    width: 24px;
    padding: 3px 0;
    margin-left: 20px;
}

.header__darklight .gg-sun,
.header__darklight input[type=checkbox] {
    display: none;
}

.header__darklight input[type=checkbox]:checked+div>.gg-sun {
    display: inherit;
}

.header__darklight input[type=checkbox]:checked+div>.gg-moon {
    display: none;
}

/* <=== Kết thúc Dark and Light */

/* Phần Search Box  */
#searchBox {
    padding: 0;
}

#searchBox .modal-body {
    padding: 15px;
    width: 100%;
    max-width: 600px;
    position: relative;
}

#searchBox .modal-dialog {
    width: 100%;
    min-width: 100%;
    margin: 0;
}

#searchBox button.close {
    position: absolute;
    right: 20px;
    top: -50px;
    color: #fff;
    opacity: 0.7;
    font-size: 30px;
}

.modal-content {
    background: transparent;
    border: none;
    align-items: center;
}

#searchBox form input[type=search] {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    height: 45px;
    outline: none;
    box-shadow: none;
    border: 1px solid #d6d6d6;
    border-radius: 6px 3px 3px 6px;
    border-right: none;
    margin: 0 !important;
    flex: 1 1 auto;
}

#searchBox .form-inline {
    align-items: inherit;
}

#searchBox .form-control {
    width: auto;
}

#searchBox form button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #F5F9FC;
    font-weight: 500;
    border: none;
    background: #189A46;
    border-radius: 0 6px 6px 0;
}

.modal-backdrop {
    background: #000000ba;
    width: 100%;
    height: 100%;
}

.modal-backdrop.show {
    opacity: 1;
}

#header .header__search {
    text-align: left;
}

#header .header__search>a {
    font-size: 14px;
    background: rgba(147, 107, 232, 0.05);
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    padding: 0;
    text-align: center;
    color: #189A46;
    display: inline-block;
}

#header .header__search>a:hover {
    background-color: #189A46;
    color: #fff;
}

/* <== Kết thúc Search Box  */

/* Navigation Menu  */
#header .navbar {
    padding: 0;
    font-size: 1rem;
    text-align: center;
}

#header .navbar-nav {
    padding: 20px 0;
}

#header .navbar-nav .nav-item {
    padding: 0;
}

#header .navbar-nav .dropdown {
    padding-right: 2px;
}

#header .navbar-nav .nav-link {
    text-transform: capitalize;
    padding: 6px 0;
    font-size: 1.2em;
    font-weight: 400;
    color: #000;
    position: relative;
    transition: all 0.5s ease;
}

#header .dropdown-menu {
    border-radius: 10px;
    min-width: 13rem;
    padding: 1rem 0 0.3rem;
    transform: translateX(0);
}

#header .dropdown-menu::before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    border-right: none;
    display: block;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%) rotateZ(45deg);
}

#header .dropdown-item {
    padding: 0 1.5rem 14px 1.5rem;
    text-align: center;
}

#header .dropdown-item a {
    position: relative;
    font-size: 1.2em;
    font-family: 400;
    color: #000;
    text-decoration: none;
}

#header .dropdown-item:hover {
    background-color: transparent;
}

#header .navbar-nav .dropdown-toggle:after {
    color: #999;
    content: "\f107";
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    border: none;
    margin: 0;
    vertical-align: inherit;
    font-size: 14px;
    font-weight: 600;
}

#header .navbar-nav .nav-link:hover,
#header .navbar-nav .dropdown-item:hover a {
    color: #189A46;
}

#header .navbar-nav .active>a {
    color: #189A46;
}

.navbar-toggler{
    border-color: transparent !important;
}

/* Kết thúc Navigation Menu  */

/* Style button */
.btn-primary {
    padding: 12px 35px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: capitalize;
    background-color: #fff;
    border-color: #fff;
    border-radius: 10px;
    outline: none;
    color: #189A46;
    transition: 0.3s ease-in;
}

.btn-primary:hover {
    outline: none;
    box-shadow: none;
    color: #189A46;
    background-color: #fff;
    border-color: #fff;
}

.btn-primary:active {
    outline: none;
    box-shadow: none;
    color: #189A46 !important;
    background-color: #fff !important;
    border-color: #fff;
}

.btn-outline-primary {
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: capitalize;
    border-radius: 10px;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    transition: 0.3s ease-in;
}

.btn-outline-primary:hover {
    outline: none;
    color: #189A46;
    background-color: #fff;
    border-color: #fff;
}

.btn-outline-primary:active {
    outline: none;
    box-shadow: none;
    color: #189A46 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.btn-outline-primary:focus {
    outline: none;
    box-shadow: none;
}

.btn-success,
.btn-success:active,
.btn-success:hover {
    background-color: #189A46;
    border-color: #189A46;
    outline: none;
    border: none;
}

/* <== Style button */

/* BREADCRUMB  */
.pagepath {
    position: relative;
    z-index: 0;
    align-items: center;
    padding: 1em 0;
    text-align: center;
    font-size: 1rem;
}

.pagepath__bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 0;
}

.pagepath__content {
    position: relative;
    z-index: 2;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;

}

.pagepath nav {
    display: inline-block
}

.breadcrumb {
    text-transform: capitalize;
    background: transparent;
    color: #fff;
    margin-bottom: 0;
    padding: 0;
    
}

.pagepath .breadcrumb-item {
    padding: 0;
    text-align: left;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "»";
    padding: 0 15px;
    color: #fff;
}

.breadcrumb-item.active {
    color: #fff;
}

.pagepath .breadcrumb a {
    color: #189A46;
}

.pagepath::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #0c0c0c;
    opacity: 0.6;
}

.pagepath__content h1 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

/* *****************
** BLOG SINGLE    **
********************/
.blog {
    margin-bottom: 1.5em;
}

.blog__tag {
    margin: 0;
}

.blog li {
    display: inline-block;
}

.blog__tag a {
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    padding: 4px 10px;
    margin: 5px 0;
}

.blog__header h2 {
    font-size: 27px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.blog__author {
    margin: 10px 0 20px 0;
    padding-bottom: 10px;
}

.blog__author li>*:not(i, a) {
    margin-right: 20px;
    font-size: 16px;
    color: #696969;
}

.blog__author li i {
    font-size: 14px;
}

.blog__image {
    max-width: 1100px;
    margin: 0 auto;
}

.blog__content {
    max-width: 900px;
    margin: 0 auto;
}

.blog__text p {
    margin: 15px 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

.blog__text a{
    color: #189A46;
}

.blog__nav {
    padding: 25px 0;
    margin: 40px 0;
    border: 1px solid rgba(147, 107, 232, 0.05);
    border-width: 1px 0 1px;
}

.blog__nav .blog__prev,
.blog__nav .blog__next {
    flex: 1 0 50%;
}

.blog__nav .blog__next {
    text-align: end;
}

.blog__prev a span,
.blog__next a span {
    display: block;
}

.blog__prev a span:nth-child(even),
.blog__next a span:nth-child(even) {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
    color: #000c04;
}

.blog__prev a span:nth-child(even):hover,
.blog__next a span:nth-child(even):hover {
    color: #189A46;
}

.blog__prev a span:nth-child(odd),
.blog__next a span:nth-child(odd) {
    font-size: 16px;
    color: #999;
}

.blog__comments h2 {
    font-weight: 600;
    font-size: calc(1.325rem + 0.9vw);
}

.blog__reply h2 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    color: #000c04;
    margin: 0;
}

.blog__list {
    margin-top: 20px;
}

.blog__item {
    margin: 5px 0;
    padding: 30px 20px 10px;
    position: relative;
}

.blog__item .row {
    margin: 0;
}

.blog__avatar {
    margin-right: 10px;
}

.blog__avatar img {
    max-width: 100%;
    border-radius: 50%;
}
.blog__meta{
    display: flex;
    flex-direction: column;
}
.blog__meta a {
    display: block;
}

.blog__meta :not(.blog__control) a:nth-of-type(1) {
    line-height: 25px;
    color: #000c04;
    font-size: 18px;
    font-weight: 600;
}

.blog__meta :not(.blog__control) a:nth-of-type(2) {
    font-size: 15px;
    margin: 5px 0 8px;
    color: #ababab;
}

.blog__detail {
    padding: 0 40px 15px;
    margin: 5px 0 0;
    font-size: 16px;
}

.blog__detail p {
    color: #696969;
    margin: 0;
    font-size: 1.2em;
    line-height: 28px;
    text-align: justify;
}

.blog__control {
    display: flex;
    align-items: end;
    margin: 5px 0 8px;
}

.blog__control a {
    line-height: 25px;
    font-size: 14px;
    font-weight: 600;
    color: #189A46;
}

.blog__reply {
    margin-top: 35px;
}

.blog__reply p {
    margin-bottom: 15px;
}

.blog__reply form label {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #000c04;
    line-height: 28px;
}

.blog__reply .form-group {
    margin: 0;
}

.blog__reply form textarea,
.blog__reply form input {
    margin: 5px 0 10px 0;
    padding: 13px 20px;
    width: 100%;
    min-height: 60px;
    outline: none;
    border-radius: 6px;
    border: 1px solid rgba(147, 107, 232, 0.05);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #000c04;
    background-color: rgba(147, 107, 232, 0.05);
}

.blog__reply form textarea:focus,
.blog__reply form input:focus {
    box-shadow: none;
    border-color: #189A46;
    background-color: rgba(147, 107, 232, 0.05);
}

.blog__reply form textarea {
    margin-bottom: 20px;
    height: 150px;
}

.blog__reply .btn-success {
    padding: 12px 35px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: capitalize;
    border-radius: 10px;
}

.blog__reply .form-group {
    line-height: 28px;
}

/* Phần Footer  */
.footer {
    background-color: #111;
}

.footer__title {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer ul {
    margin: 0 0;
}

.footer li,
.footer li a {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
    color: #696969;
    line-height: 28px;
    transition: 0.5s all;
}

.footer li a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer .footer__icons li {
    display: inline-block;
    margin: 0 15px 0 0;
}

.copyright p {
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    color: #696969;
    margin-bottom: 0;
}

.copyright p a {
    color: #f53626;
    opacity: 0.9;
}

/* Back To Top  */
.backtotop {
    display: block;
    position: fixed;
    right: 15px;
    bottom: 60px;
    font-size: 18px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #189A46;
    border-radius: 50px;
    color: white;
    transition: all .2s;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    transition: 0.3s ease-out;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.backtotop:hover {
    color: #fff;
    transform: translateY(-5px);
}

/* <== Kết thúc Back To Top  */

/* <== Kết thúc Footer  */

/* Phần Resposive */
@media (min-width: 378px) {
    .blog__header h2 {
        font-size: 32px;
        line-height: 38px;
    }
}

@media (min-width: 481px) {
    /* Brand Navbar  */
    #header nav .navbar-brand {
        font-size: 34px;
    }
}

@media (min-width: 576px) {
    /* Container  */
    .container{
        max-width: 540px;
    }
    /* Search Box  */
    #searchBox form input[type=search] {
        height: 55px;
        padding: 15px 20px 12px;
    }

    #searchBox form button {
        padding: 0 25px;
    }

    .blog__meta{
        flex-direction: row;
    }

    .blog__control{
        padding: 0 10px;
    }
}

@media (min-width: 601px) {
    .blog__header h2 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media (min-width: 768px) {
    /* Container  */
    .container{
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    /* Public  */
    .container {
        max-width: 960px;
        margin: 0 auto 0 auto;
    }

    /* Header  */
    #header {
        height: 90px;
        padding: 0;
    }

    #header.header__fixed {
        height: 80px;
    }

    #header+section {
        margin-top: 90px;
    }

    .header__darklight {
        position: inherit;
        top: 0;
        left: 0;
    }

    #header .navbar-nav {
        padding: 0;
    }

    #header a.nav-link::before {
        content: '';
        position: absolute;
        background-color: #189A46;
        height: 1px;
        bottom: 13px;
        width: 0;
        transition: all 0.5s;
    }

    #header .dropdown-item a::before {
        content: '';
        position: absolute;
        background-color: #189A46;
        height: 1px;
        bottom: 0;
        width: 0;
        transition: all 0.5s;
    }

    #header a.nav-link:hover::before,
    #header .dropdown-item a:hover::before {
        width: 100%;
    }

    #header .dropdown-menu {
        transform: translateX(-25%);
    }

    #header .dropdown-item {
        text-align: inherit;
    }

    #header .navbar-nav .nav-link {
        padding: 14px 0;
    }

    #header .navbar-nav .nav-item {
        padding: 0 12px;
    }

}

@media (min-width: 1081px) {
    .blog__header h2 {
        font-size: 40px;
        line-height: 48px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .blog__comments h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1478px) {
    .container {
        width: 100%;
        padding: 0 25px 0 25px;
        margin: 0 auto 0 auto;
    }
}

@media (min-width: 5147px) {
    .container {
        width: 100%;
        padding: 0 30px 0 30px;
        margin: 0 auto 0 auto;
    }
}



/* fix responsive  */

@media(max-width:640px){
    .pagepath__content h1{
        font-size: 34px;
    }
}
